 
@font-face {
    font-family: Poppins;
    src: url("D:\Project\Project\src\details\Font Poppins\Poppins-Medium.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
 
  
/* .login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
 
 
 
.cabinet {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-box {
    border-right: 2px solid black;
    width: 30%;
    height: 100vh;
    padding: 10px;
}
.right-box {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}.left-box h2 {text-align: center; margin: 15px 0;}

.lessons {margin-top: 40px;}
.lessons p {
     
    margin: 20px 0;
    color: #006b6f;
    cursor: pointer;
}
.lessons p:hover {
    color: #000000;
}